type asuscamera_app, domain, mlstrustedsubject;
app_domain(asuscamera_app)

allow asuscamera_app app_data_file:file execute;
allow asuscamera_app vendor_toolbox_exec:file execute_no_trans;

allow asuscamera_app camera_param_file:file { getattr lock open read };

allow asuscamera_app proc_camera_module:file { getattr open read };

allow asuscamera_app dit_socket:dir getattr;
allow asuscamera_app dit_socket:sock_file write;

allow asuscamera_app mm-qcamerad:unix_stream_socket connectto;

allow asuscamera_app accessibility_service:service_manager find;
allow asuscamera_app activity_service:service_manager find;
allow asuscamera_app appops_service:service_manager find;
allow asuscamera_app audio_service:service_manager find;
allow asuscamera_app cameraserver_service:service_manager find;
allow asuscamera_app connectivity_service:service_manager find;
allow asuscamera_app content_service:service_manager find;
allow asuscamera_app device_policy_service:service_manager find;
allow asuscamera_app display_service:service_manager find;
allow asuscamera_app graphicsstats_service:service_manager find;
allow asuscamera_app input_method_service:service_manager find;
allow asuscamera_app mount_service:service_manager find;
allow asuscamera_app power_service:service_manager find;
allow asuscamera_app sensorservice_service:service_manager find;
allow asuscamera_app surfaceflinger_service:service_manager find;
allow asuscamera_app trust_service:service_manager find;
allow asuscamera_app usb_service:service_manager find;
allow asuscamera_app user_service:service_manager find;
allow asuscamera_app audioserver_service:service_manager find;
allow asuscamera_app autofill_service:service_manager find;
allow asuscamera_app drmserver_service:service_manager find;
allow asuscamera_app input_service:service_manager find;
allow asuscamera_app mediaextractor_service:service_manager find;
allow asuscamera_app mediametrics_service:service_manager find;
allow asuscamera_app mediaserver_service:service_manager find;
allow asuscamera_app location_service:service_manager find;
allow asuscamera_app notification_service:service_manager find;
allow asuscamera_app mediacodec_service:service_manager find;
allow asuscamera_app permission_service:service_manager find;
allow asuscamera_app assetatlas_service:service_manager find;
allow asuscamera_app network_management_service:service_manager find;
