type tfa9895_vendor_file, vendor_file_type, file_type;
type tfa9895_data_file, core_data_file_type, data_file_type, file_type;
type modem_shell_file, exec_type, vendor_file_type, file_type;
type debugfs_rmt_storage, debugfs_type, fs_type;
type serialno_file, file_type;
type camera_temp_file, file_type;
type camera_param_file, vendor_file_type, file_type;
type goodix_fp_exec, exec_type, vendor_file_type, file_type;
type rild_file, vendor_file_type, file_type;

# asdf
type log_file, file_type;

# asusfw, factory
type factory_file, file_type;

# apd, adf
type demoapp_file, file_type;

# proc
type proc_camera_temp, proc_type;
type proc_ois_device, proc_type;
type proc_camera_module, proc_type;
type proc_zoneinfo_file, proc_type;
type proc_asus_debug, proc_type;
type proc_fpmod, proc_type;

# sysfs
type sysfs_video, sysfs_type, fs_type;
type sysfs_led_device, sysfs_type, fs_type;
type sysfs_gesture_device, sysfs_type, fs_type;

# sockets
type dit_socket, file_type;
