allow fsck factory_file:dir getattr;
allow fsck demoapp_file:dir getattr;
allow fsck factory_block_device:blk_file rw_file_perms;
allow fsck asusfw_block_device:blk_file rw_file_perms;
allow fsck asusfw_block_device:dir getattr;
allow fsck asdf_block_device:blk_file rw_file_perms;
allow fsck demoapp_block_device:blk_file rw_file_perms;
allow fsck demoapp_block_device:dir getattr;
allow fsck dsp_block_device:blk_file rw_file_perms;
