allow hal_audio_default factory_file:file { read getattr open };
allow hal_audio_default factory_file:dir { read open search };
allow hal_audio_default asusfw_block_device:dir search;
