allow hal_camera_default camera_device:file { read getattr };
allow hal_camera_default camera_param_file:file { lock getattr read open };
allow hal_camera_default proc_camera_module:file { read open getattr };
allow hal_camera_default proc_asus_debug:file { append open getattr };

allow hal_camera_default dit_socket:dir getattr;
allow hal_camera_default dit_socket:sock_file write;

allow hal_camera_default mm-qcamerad:unix_stream_socket connectto;

allow hal_camera_default debug_prop:property_service set;

set_prop(hal_camera_default, asus_cam_prop);
set_prop(hal_camera_default, asus_debug_prop);
