# audio
allow init audio_device:chr_file { write ioctl };

# firmware_file
allow init firmware_file:filesystem associate;

# gesture
allow init sysfs_gesture_device:file setattr;

# leds
allow init sysfs_led_device:file setattr;

# partitions
allow init factory_file:dir mounton;
allow init factory_file:file r_file_perms;
allow init log_file:dir mounton;
allow init log_file:file r_file_perms;
allow init demoapp_file:dir mounton;
allow init sysinfo_block_device:blk_file setattr;

# socket
allow init self:netlink_socket { read write getattr connect };
allow init property_socket:sock_file write;
