# audio
allow init audio_device:chr_file { write ioctl };

# factory_file
allow init factory_file:dir mounton;

# firmware_file
allow init firmware_file:filesystem associate;

# gesture
allow init sysfs_gesture_device:file setattr;

# leds
allow init sysfs_led_device:file setattr;

# partitions
allow init asdf_block_device:dir mounton;
allow init asdf_block_device:file r_file_perms;
allow init asusfw_block_device:dir mounton;
allow init asusfw_block_device:file r_file_perms;
allow init adf_block_device:dir mounton;
allow init apd_block_device:dir mounton;

# socket
allow init self:netlink_socket { read write getattr connect };
allow init property_socket:sock_file write;
