# audio
allow init audio_device:chr_file { write ioctl };

# factory_file
allow init factory_file:dir mounton;

# firmware_file
allow init firmware_file:filesystem associate;

# partitions
allow init asusfw_block_device:dir mounton;

# socket
allow init self:netlink_socket { read write getattr connect };
allow init property_socket:sock_file write;
