allow mm-qcamerad sysfs_graphics:file { read open };
allow mm-qcamerad dit_socket:dir { create_dir_perms add_name getattr write };
allow mm-qcamerad dit_socket:chr_file create;
allow mm-qcamerad dit_socket:sock_file { create setattr };
allow mm-qcamerad camera_param_file:file r_file_perms;
allow mm-qcamerad rgb_sensor_device:chr_file rw_file_perms;
allow mm-qcamerad proc_ois_device:file rw_file_perms;
allow mm-qcamerad laser_sensor_device:chr_file { read write open ioctl };
allow mm-qcamerad factory_file:file { read open lock getattr };
allow mm-qcamerad factory_file:dir search;
allow mm-qcamerad asusfw_block_device:dir search;
allow mm-qcamerad asusfw_block_device:file { open read };
allow mm-qcamerad proc_camera_module:file { read open getattr };
allow mm-qcamerad sysfs_video:file r_file_perms;
allow mm-qcamerad camera_prop:file { open read getattr };
allow mm-qcamerad sysfs_kgsl:file { read open };

allow mm-qcamerad hal_perf_hwservice:hwservice_manager find;

set_prop(mm-qcamerad, asus_debug_prop)

binder_call(mm-qcamerad, hal_perf_default)
