allow mm-qcamerad sysfs_graphics:file { read open };
allow mm-qcamerad socket_device:dir { create_dir_perms add_name };
allow mm-qcamerad socket_device:chr_file create;
allow mm-qcamerad camera_param_file:file r_file_perms;
allow mm-qcamerad rgb_sensor_device:chr_file rw_file_perms;
allow mm-qcamerad proc_ois_device:file rw_file_perms;
allow mm-qcamerad laser_sensor_device:chr_file { read write open ioctl };
allow mm-qcamerad factory_file:file { read open lock getattr };
allow mm-qcamerad asusfw_file:file open;
