# btnvtool
allow qti_init_shell btnvtool_exec:file execute_no_trans;

# firmware
allow qti_init_shell vfat:file r_file_perms;
allow qti_init_shell vfat:dir search;

# modem
allow qti_init_shell modem_shell_file:file { r_file_perms execute execute_no_trans };

# proc
allow qti_init_shell proc_dirty_ratio:file { write open };

# rild
allow qti_init_shell rild_file:file getattr;

# serialno
allow qti_init_shell factory_file:file r_file_perms;
allow qti_init_shell factory_file:dir search;

#thermal
set_prop(qti_init_shell, thermal_prop);

# wifi
allow qti_init_shell factory_file:file getattr;
