allow system_server factory_file:file { open read };
allow system_server factory_file:dir search;
allow system_server sysfs_gesture_device:file write;

allow system_server diag_device:chr_file { read write open };
