#system/core/libcutils/fs_config.c
#device/qcom/msm8998/msm8998.mk
# init.asus.debug.rc
#	Add by Thomas Chu
#
on fs

    wait /dev/block/bootdevice/by-name/asdf
    exec /system/bin/e2fsck -p /dev/block/bootdevice/by-name/asdf
    mkdir /asdf
    mount ext4 /dev/block/bootdevice/by-name/asdf /asdf nosuid nodev noatime barrier=1
    chmod 0777 /asdf
    restorecon_recursive /asdf

on post-fs-data
# ASUS_BSP +++ [thomas]Add logcat_log folder
	mkdir /data/logcat_log 0775 system system
# ASUS_BSP --- [thomas]Add logcat_log folder


    mkdir /data/log
    mkdir /data/anr
    mkdir /data/tombstones
   
    chown system system /data/log
    chown system system /data/anr
    chown system system /data/tombstones
   
    chmod 0775 /data/anr
    chmod 0775 /data/tombstones
    chmod 0755 /data/media/asus_log
    
#enable zram
    swapon_all fstab.qcom

#ASUS_BSP+++ jacob kung "[ZE500KL][restart][NA][NA] setup qpst download mode properity"
on property:persist.sys.downloadmode.enable=1
      write /sys/module/msm_poweroff/parameters/download_mode 1
	  write /sys/module/printk/parameters/ramdump_enabled 1

on property:persist.sys.downloadmode.enable=0
      write /sys/module/msm_poweroff/parameters/download_mode 0
	  write /sys/module/printk/parameters/ramdump_enabled 0
#ASUS_BSP--- jacob kung "[ZE500KL][restart][NA][NA] setup qpst download mode properity"
