# ASUS_BSP+++ Show_Cai
service AThermalService /system/bin/sh /system/vendor/etc/init.asus.thermal_conf.sh
        class core
        user root
        oneshot
        disabled
        
# ASUS_BSP--- Show_Cai

# ASUS_BSP+++ Shawn_Huang
service set_deftime /system/bin/sh /system/etc/init.asus.set_time.sh
        class core
        user root
        oneshot
        disabled
# ASUS_BSP--- Shawn_Huang

# ASUS_BSP+++ Shawn_Huang For slpi Software Silent Reset
service slpi_ssr /system/bin/sh /system/vendor/etc/init.asus.slpi_ssr.sh
        class core
        user root
        oneshot
        disabled
# ASUS_BSP--- Shawn_Huang For slpi Software Silent Reset

# ASUS_BSP+++ Shawn_Huang
on post-fs-data
	setprop sys.create.thermal_link 1
	start AThermalService
# ASUS_BSP--- Shawn_Huang

# ASUS_BSP+++ Show_Cai
on property:sys.boot_completed=1
	setprop sys.create.thermal_link 1
	start AThermalService
on property:sys.thermal_engine.reset=1
	start AThermalService
# ASUS_BSP--- Show_Cai

# ASUS_BSP+++ Shawn_Huang set default time
on property:sys.boot_completed=1
	start set_deftime
# ASUS_BSP--- Shawn_Huang set default time

# ASUS_BSP+++ Shawn_Huang For slpi Software Silent Reset
on property:sys.asus.ssc.reset=1
        start slpi_ssr
# ASUS_BSP--- Shawn_Huang For slpi Software Silent Reset

# ASUS_BSP+++ Shawn_Huang
# service BSdisable /system/bin/sh /etc/onBodysarDisable.sh
#         class core
#         user root
#         oneshot
#         disabled
# ASUS_BSP--- Shawn_Huang

# ASUS_BSP+++ ShawnHuang "For disable bodysar"
# on property:gsm.bodysar.disable=*
# 	start BSdisable
# ASUS_BSP--- ShawnHuang "For disable bodysar"

# ASUS_BSP+++ VictorFu "For Ultimate mode & disable thermald"
#on property:sys.ultimate.mode.enabled=*
#	start onFgAppChanged
#on property:sys.thermald.disabled=*
#        start onFgAppChanged
# ASUS_BSP--- VictorFu "For Ultimate mode & disable thermald"

# ASUS_BSP+++ VictorFu "For pad mode"
# on property:sys.config.resolution=*
# 	start onFgAppChanged
# ASUS_BSP--- VictorFu "For pad mode"


